<div class="toolbar">
  <mat-toolbar>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span>Europeana Collection</span>

    <form
      [formGroup]="searchForm"
      (submit)="getPaintings(searchForm.value.text)"
    >
      <input type="text" formControlName="text" />
      <button mat-icon-button type="submit">
        <mat-icon>search</mat-icon>
      </button>
    </form>
  </mat-toolbar>
</div>

<div class="main-page-container">
  <div>
    <button
      mat-raised-button
      class="switch-page-button"
      (click)="previousPage(index)"
      [disabled]="index === 4 ? true : false"
    >
      PREVIOUS PAGE
    </button>
    <button
      mat-raised-button
      class="switch-page-button"
      (click)="nextPage(index)"
      [disabled]="index === 12 ? true : false"
    >
      NEXT PAGE
    </button>
  </div>

  <app-card [gallery]="galleryList" [first]="first" [index]="index"></app-card>
</div>
