.toolbar
    display: flex
    justify-content: center

    .mat-toolbar
        width: 94%
        background: #05164D
        height: 5rem
        color: white

.main-page-container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin-top: 4rem

.switch-page-button
    width: 150px
    color: #05164d
    font-weight: 500
    text-transform: uppercase
    box-shadow: 0px 2px 4px 1px rgba(5, 12, 77, 30%)
    margin-left: 1rem

.card-container
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    width: 100%
    margin-top: 2rem

.card
    margin: 10px 10px 10px 10px
    width: 400px
    height: 520px
    text-align: center
    background-color: #f5f5f5

.mat-card-title
    margin: 1rem 0 1rem 0

.europeana-image
    margin-top: 1.5rem
    width: 300px
    height: 320px
    border-radius: 30rem
